
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<footer>
    <div class="containers">
        <div class="contact">
            <h3>Contactanos</h3>
            <ul>
                <li><i class="fa-solid fa-phone" style="color: #ffffff;"></i> 54933333333333</li>
                <li><strong><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i></strong> 0351 5555555555</li>
                <li><i class="fa-regular fa-envelope" style="color: #ffffff;" ></i><p>infowolfsoul (a) gmail.com</p></li>
            </ul> <!-- Información de contacto -->
        </div>
        <div class="subscribe">
                <h4>NEWSLETTER</h4>
                <p>¡Recibí todas las ofertas!</p>
                <p>¿Quieres recibir nuestras ofertas? ¡Registrate ya mismo y comenzá a disfrutarlas!</p>
                <form>
                    <input type="email" placeholder="Tu Correo">
                    <button type="submit">Suscribirse</button>
                </form> <!-- Form de suscripción con el mail -->
        </div>
        <div class="social">
            <h3>Seguinos en nuestras redes</h3>
            <ul class="social-icons">
                <li>
                    <a href="https://www.facebook.com/" class="social-link facebook" target="_blank"> <!-- Aca va el link del Facebook -->
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/?lang=es" class="social-link twitter" target="_blank"> <!-- Aca va el link del Twitter -->
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" class="social-link instagram" target="_blank"> <!-- Aca va el link del Instagram -->
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>