<div  class="bg-image"
style="
  background-image: url('../../../assets/img/img_login/ropa-fondo-2.jpg');
  
">

<div class="container p-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <main class="form-signup">
          <form [formGroup]="formRegister" (ngSubmit)="onEnviar($event)">
            <h1 class="h3 mb-3 fw-normal text-center">Registrarse</h1>
            <div class="form-floating mb-5">
                <input type="text"  formControlName="nombre" class="form-control">
                <label for="floatingInput">Nombre</label>
                @if (Nombre?.errors && Nombre?.touched)
              {
                  @if (Nombre?.hasError('required'))
                  {
                    <p class="text-danger">el Nombre completo es requerido.</p>
                  }
                  @else if (Nombre?.hasError('pattern'))
                  {
                    <p class="text-danger">El formato  debe ser valido.</p>
                  }
              }
            </div>
              <div class="form-floating mb-5">
              <input type="email" formControlName="email" class="form-control">
              <label for="floatingInput">Email</label>
              @if (Email?.errors && Email?.touched)
              {
                @if (Email?.hasError('required'))
                {
                  <p class="text-danger">el mail es requerido.</p>
                }
                @else if (Email?.hasError('email'))
                {
                  <p class="text-danger">El formato del email debe ser valido.</p>
                }
              }
            </div>
            
            <div class="form-floating mb-5">
              <input type="password" formControlName="password" class="form-control">
              <label for="floatingPassword">Password</label>
              @if(Password?.errors && Password?.touched)
              {
                @if(Password?.hasError('required'))
                {
                  <p class="text-danger">El password es requerido.</p>
                }
                @else if (Password?.hasError('minlength'))
                {
                  <p class="text-danger">El password requiere como mínimo 8 caracteres.</p>
             
                }
                @else if (Nombre?.hasError('maxlength'))
                  {
                    <p class="text-danger">El password no debe exeder los 16 carácteres.</p>
                  }
                @else if (Nombre?.hasError('pattern'))
                  {
                    <p class="text-danger">'La contraseña debe contener al menos un número, una letra mayúscula, una letra minúscula y un caracter no alfanumérico.</p>
                  }  
              }
            </div>    
            <div class="form-floating mb-5">
            
                
            <input type="password" formControlName="repitePassword" class="form-control">
            <label for="floatingInput">Repite Contraseña</label>
            @if (formRegister.errors && RepitePassword?.touched) {
              <p class="text-danger">Las contraseñas no coinciden.</p>
            }
            
            </div>    
              
            
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Recordarme
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar</button>
            
          </form>
        </main>
      </div>
    </div>
  </div>


</div>