<section  >

<main class="container" >
       
  
       
      
    <div class="my-3 p-3 bg-body rounded shadow-sm ">

      <h3 class="pb-1 mb-1 d-flex justify-content-center" >Mis Compras</h3>

      <hr class="featurette-divider">
      
      <div class="container marketing justify-content-center">


        

        <!-- Three columns of text below the carousel -->
        <div class="row ">
          <div class="col-lg-4">
            <img src="../assets/img/img_dashboard/remera1.jpeg" width="100" height="100" alt="logo">      
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
    
            <h5 class="fw-normal">Remera Negra Code</h5>
            
            <span class="d-block">Fecha del Pedido</span>
            <p>14 de abril de 2024</p>
            <span class="d-block">Estado</span>
            <p>En Camino</p>
            <span class="d-block">Importe</span>
            <p>$25.000</p>
            <span class="d-block">Codigo de Compra:</span>
            <p>#0012351</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
    
            <p><a class="btn btn-secondary" href="#">Volver a Comprar -»</a></p>
          </div><!-- /.col-lg-4 -->
          <hr class="featurette-divider">
        </div><!-- /.row -->

        <div class="row ">
          <div class="col-lg-4">
            <img src="../assets/img/img_dashboard/gorra_dev.jpeg" width="100" height="100" alt="logo">      
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
    
            <h5 class="fw-normal">Gorra Negra Dev Code</h5>
            
            <span class="d-block">Fecha del Pedido</span>
            <p>14 de abril de 2024</p>
            <span class="d-block">Estado</span>
            <p>En Camino</p>
            <span class="d-block">Importe</span>
            <p>$25.000</p>
            <span class="d-block">Codigo de Compra:</span>
            <p>#0012351</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
    
            <p><a class="btn btn-secondary" href="#">Volver a Comprar -»</a></p>
          </div><!-- /.col-lg-4 -->
          <hr class="featurette-divider">
        </div><!-- /.row -->

        <div class="row ">
          <div class="col-lg-4">
            <img src="../assets/img/img_dashboard/taza1.jpeg" width="100" height="100" alt="logo">      
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
    
            <h5 class="fw-normal">Taza The CodeFather</h5>
            
            <span class="d-block">Fecha del Pedido</span>
            <p>14 de abril de 2024</p>
            <span class="d-block">Estado</span>
            <p>En Camino</p>
            <span class="d-block">Importe</span>
            <p>$25.000</p>
            <span class="d-block">Codigo de Compra:</span>
            <p>#0012351</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
    
            <p><a class="btn btn-secondary" href="#">Volver a Comprar -»</a></p>
          </div><!-- /.col-lg-4 -->
          <hr class="featurette-divider">
        </div><!-- /.row -->
    
    
        <!-- START THE FEATURETTES -->
    
       
        
    
      </div>
























      
      
    

      
      
      
     
    </div>
  </main>
</section>