


<header  class="position-static navbar navbar-expand-lg">
    
    
    <div class="logo">
        <img src="../../../assets/img/logo.jpeg" alt="logo">
    </div>   
    <nav>
        <ul>
            <!-- <li><a href="./FRONT/pages/login.html"><img src="./FRONT/img/img_login/login-icon.png" alt=""></a></li> -->

           
            <li><a routerLink="/registro" class="text-black">Registro</a></li>
            <li><a routerLink="/login" ><img src="../../../assets/img/img_login/login-icon.png" alt="imagen del login"></a></li>
            <li><a routerLink="/index">Inicio</a></li>
            <li><a routerLink="/productos">Productos</a></li>
            <li><a routerLink="/mis-compras">Mis Compras</a></li>      
            <li><a routerLink="/sobre-nosotros">Sobre Nosotros</a></li>
          <li><a routerLink="/Contacto">Contacto</a></li>
        
        </ul>
    </nav>



</header>
